body {
  font-family: Helvetica;
  font-weight: 100; }

button:focus,
input:focus {
  outline: 0; }

a {
  color: white; }

::-webkit-input-placeholder {
  color: #cbd2cd; }

.loading-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #3773a1;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  .loading-wrapper.loaded {
    opacity: 0;
    z-index: -1; }

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.loading div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.loading div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite; }

.loading div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite; }

.loading div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite; }

.loading div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite; }

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0); } }

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0); } }

.brand-primary {
  color: rgba(55, 115, 161, 0.5); }

.brand-secondary {
  color: rgba(34, 143, 83, 0.5); }

.bg-brand-primary {
  background-color: rgba(55, 115, 161, 0.5); }

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.headshot {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .headshot:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%); }

.bio {
  position: absolute;
  top: 0;
  height: 100vh; }

.skill-icon {
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .skill-icon:hover {
    opacity: 0; }

.icon-text {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.icon-wrapper {
  width: 120px; }

.icon-wide {
  width: 100%;
  min-width: 180px; }

.reacticon,
.rnicon {
  color: #61dafb; }

.angularicon {
  color: #dc2126; }

.jqueryicon {
  color: #1368ac; }

.nodeicon {
  color: #539e43; }

.es6icon {
  color: #fade34; }

.gulpicon {
  color: #eb4a4a; }

.bowericon {
  color: #ffcd2f; }

.webpackicon {
  color: #1c78c0; }

.giticon {
  color: #f05133; }

.giticon {
  color: #f05133; }

.androidicon {
  color: #81b748; }

.xcodeicon {
  color: #02a7f1; }

.sassicon {
  color: #cd679a; }

.lessicon {
  color: #1e416f; }

.bootstrapicon {
  color: #524078;
  font-size: 1.4rem; }

.css3icon {
  color: #0277bd; }

.parseicon {
  color: #159cee; }

.sqlicon {
  color: #e2a042; }

.htmlicon {
  color: #f16529; }

.strike-through-wrapper {
  position: relative; }
  .strike-through-wrapper .strike-through-first {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: red;
    top: 50%;
    opacity: 0.8;
    rotate: 7deg; }
  .strike-through-wrapper .strike-through-second {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: red;
    top: 50%;
    opacity: 0.8;
    rotate: -7deg; }
